	<!-- Header Wrapper -->
			<div class="wrapper style1">

			
			<!-- Header -->
				<div id="header">
					<div class="container">
						
							<nav id="nav">
								<img id="bannerLogo" src="/images/wax_me_logo.png">
								<ul>
									<li class="active"><a href="/">Home</a></li>
									<li>
									<a href="#">Waxing</a>
									<ul>
									<li><a href="#">For Her</a>
										<ul>	
											<li><a href="/services/wax-women-face">Face</a></li>
											<li><a href="/services/wax-women-bikini">Bikini</a></li>
											<li><a href="/services/wax-women-brow">Brow Bar</a></li>
											<li><a href="/services/wax-women-body">Body</a></li>
											<li><a href="/services/wax-women-packages">Packages</a></li>
										</ul>
										<li><a href="#">For Him</a>
										<ul>	
											<li><a href="/services/wax-men-face">Face</a></li>
											<li><a href="/services/wax-men-bikini">Bikini</a></li>
											<li><a href="/services/wax-men-body">Body</a></li>
											<li><a href="/services/wax-men-packages">Packages</a></li>
										</ul>
									</ul>

									<li>
									<a href="#">Skin Care</a>
									<ul>
										<li><a href="/services/facials">Facials</a></li>
										<li><a href="/services/corrective-peels">Corrective Peels</a></li>
										<li><a href="/services/advanced-treatment">Advanced Treatments</a></li>
									</ul>
									<li>
									<a href="/services/sunless-tan">Sunless Tan</a>
									<li>
									<a href="/team">About Us</a>
									<ul>
										<li><a href="https://waxmeboutique.wordpress.com/">Blog</a></li>
									</ul>
									<li>
									<a href="/contact">Contact</a>
									<li>
									<a href="/booknow"><strong>Book Online!</strong></a></li>
									<a href="tel:+18582248126"><input type="button" class="call" value="858-224-8126"></a>
								</ul>				
							</nav>
	
					</div>
					
				</div>

				<script>
				var mousewheelevt = (/Firefox/i.test(navigator.userAgent)) ? "DOMMouseScroll" : "mousewheel" //FF doesn't recognize mousewheel as of FF3.x
				$('.menu').bind(mousewheelevt, function(e){

				    var evt = window.event || e //equalize event object     
				    evt = evt.originalEvent ? evt.originalEvent : evt; //convert to originalEvent if possible               
				    var delta = evt.detail ? evt.detail*(-40) : evt.wheelDelta //check for detail first, because it is used by Opera and FF

				    if(delta > 0) {
				        $('#header').css('background-color','rgba(167, 168, 99, .7)')
				    }
				    else{
				        $('#header').css('background-color','rgba(167, 168, 99, 1)')
				    }   
				});
				</script>