<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-3">
		<h1 id="pg_title">New Service</h1>
	</div>
	<div class="col-md-5">
	</div>
	<div class="col-md-2">
		<button type="button" onclick="location.href='/services'" class="nav-btn">Back</button>
	</div>
	<div class="col-md-1">
	</div>
</div>

<div class="row">
	<%= render 'form' %>
</div>
