<html>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div class="wrapper style1">

			
			<!-- Header -->
				<div id="header">
					<div class="container">
						
							<nav id="nav">
								<ul>
									<li class="active"><a href="index.html">Home</a></li>
									<li>
										<a href="">Waxing</a>
										<li>
										<a href="">Skin Care</a>
										<ul>
											<li><a href="#">Organic Facials</a></li>
											<li><a href="#">Chemical Peels</a></li>
											<li><a href="#">Advanced Treatment</a></li>
										</ul>
										<li>
										<a href="">Spray Tan</a>
										<li>
										<a href="">About Us</a>
										<ul>
											<li><a href="#">Blog</a></li>
											<li><a href="#">Reviews</a></li>
											<li><a href="#">Team</a></li>
										</ul>
										<li>
										<a href="">Contact</a>
										<li>
										<a href="https://www.schedulicity.com/scheduling/WMB26T"><strong>Book Now!</strong></a>
												
							</nav>
	
					</div>
				</div>

				<script>
				var mousewheelevt = (/Firefox/i.test(navigator.userAgent)) ? "DOMMouseScroll" : "mousewheel" //FF doesn't recognize mousewheel as of FF3.x
				$('.menu').bind(mousewheelevt, function(e){

				    var evt = window.event || e //equalize event object     
				    evt = evt.originalEvent ? evt.originalEvent : evt; //convert to originalEvent if possible               
				    var delta = evt.detail ? evt.detail*(-40) : evt.wheelDelta //check for detail first, because it is used by Opera and FF

				    if(delta > 0) {
				        $('#header').css('background-color','rgba(167, 168, 99, .7)')
				    }
				    else{
				        $('#header').css('background-color','rgba(167, 168, 99, 1)')
				    }   
				});
				</script>